@font-face {
  font-family: 'Open Sans';
  src: url('@/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url('@/assets/fonts/SairaExtraCondensed-Regular.ttf');
}

body {
  // @include body-font;
  background: $gray-100;
  color: $gray-600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
  padding-top: 54px;
  text-align: center;
}

@media (min-width: 992px) {
  body {
    padding-left: $sidebar-base-width;
    padding-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-800;
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.subheading {
  color: $secondary;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

section {
  .exemptions-section {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;

    .exemptions-item {
      .exemptions-date {
        min-width: none;
      }
    }
  }
}


.bg-primary {
  background-color: #fff22d !important;
}

.text-primary {
  color: #33348e !important;
}

a {
  color: $blue-co;

  &:hover,
  &:focus,
  &:active {
    color: darken($blue-co, 15%);
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $blue-co;
    }
  }
}

.list-icons {
  font-size: 3rem;

  .list-inline-item {
    i {
      &:hover {
        color: $primary;
      }
    }
  }
}

.state-name {
  color: $blue-co;
}

@media (min-width: 992px) {
  .side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 17rem;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: .5rem;

      .img-profile {
        border: .5rem solid rgba(255, 255, 255, .2);
        max-height: 10rem;
        max-width: 10rem;
      }
    }

    .navbar-collapse {
      align-items: flex-start;
      display: flex;
      flex-grow: 0;
      margin-bottom: auto;
      width: 100%;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section {
    .exemptions-section {
      min-height: 100vh;

      .exemptions-item {
        .exemptions-date {
          min-width: 18rem;
        }
      }
    }
  }
}
