@font-face {
  font-family: 'Open Sans';
  src: url('@/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url('@/assets/fonts/SairaExtraCondensed-Regular.ttf');
}

body {
  background: #f8f9fa;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-left: 17rem;
    padding-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343a40;
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.subheading {
  color: #868e96;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

section .exemptions-section {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

section .exemptions-section .exemptions-item .exemptions-date {
  min-width: none;
}

.bg-primary {
  background-color: #fff22d !important;
}

.text-primary {
  color: #33348e !important;
}

a {
  color: #33348e;
}

a:hover,
a:focus,
a:active {
  color: #272856;
}

.navbar-dark .navbar-nav .nav-link {
  color: #33348e;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #33348e;
}

.state-name {
  color: #33348e;
}

@media (min-width: 992px) {
  .side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 17rem;
  }

  .side-nav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: .5rem;
  }

  .side-nav .navbar-brand .img-profile {
    border: .5rem solid rgba(255, 255, 255, .2);
    max-height: 10rem;
    max-width: 10rem;
  }

  .side-nav .navbar-collapse {
    align-items: flex-start;
    display: flex;
    flex-grow: 0;
    margin-bottom: auto;
    width: 100%;
  }

  .side-nav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .side-nav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  .side-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

@media (min-width: 768px) {
  section .exemptions-section {
    min-height: 100vh;
  }

  section .exemptions-section .exemptions-item .exemptions-date {
    min-width: 18rem;
  }
}

nav {
  background: #fff22d;
}

header {
  border-bottom: 1px solid #adb5bd;
}

h1 {
  font-weight: 700;
}